%section.content-header
  %h1 Team
%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-header.with-border
          %a.btn.btn-md.btn-primary.pull-right{:href => new_team_path} New
        .box-body
          - attrs = [:name, :number_of_user]
          #adminlte2datatable_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
            .row
              .col-sm-12
                %table.adminlte2datatable.table.table-bordered.table-striped.dataTable{"aria-describedby" => "adminlte2datatable_info", :role => "grid"}
                  %thead
                    %tr{:role => "row"}
                      - attrs.each_with_index do |attr, index|
                        %th.sorting_asc{"aria-controls" => "adminlte2datatable", :colspan => "1", :rowspan => "1", :tabindex => index}= t(attr)
                  %tbody
                    - if @teams.blank?
                      %tr 
                        %td{:colspan => attrs.count}
                    - else
                      - @teams.each do |team|
                        %tr{:role => "row"}
                          - attrs.each do |attr|
                            - case attr
                            - when :number_of_user
                              %td= team.users.count
                            - else
                              %td= team[attr]
