- attrs = [:first_name, :last_name, :team]
= hidden_field_tag :authenticity_token, form_authenticity_token
.box-body
  %error-popout
  .col-md-8
    - attrs.each do |attr|
      - case attr
      - when :team
        .form-group
          %label.col-md-3.control-label Team (optional)
          .col-md-9
            %select.form-control{:name => 'user[team_id]'}
              %option{:value => ''} N/A
              - Team.all.each do |team|
                %option{:value => team.id, :selected => @user.team_id == team.id ? '' : false}= team.name
      - else 
        .form-group
          %label.col-md-3.control-label= t(attr) + '*'
          .col-md-9
            %input.form-control{:type => 'text', :name => "user[#{attr.to_s}]", :placeholder => 'Type here', :value => @user[attr], :required => ''}