.container-fluid.container-fixed-lg.footer
  .copyright.sm-text-center
    %p.small.no-margin.pull-left.sm-pull-reset
      %span.hint-text Copyright © #{Date.today.year}
      %span.hint-text All rights reserved.
    %p.small.no-margin.pull-right.sm-pull-reset
      Crafted with
      %i.fa.fa-heart.text-danger
      by Le Thanh phong
    .clearfix