.sidebar-menu
  / BEGIN SIDEBAR MENU ITEMS
  %ul.menu-items
    %li.m-t-30
      %span.title Dashboard
      %span.bg-success.icon-thumbnail
        %i.pg-home
      %li
        %a{:href => "javascript:;"}
          %span.title Fantasy Foosball Manage
          %span.arrow
        %span.icon-thumbnail
          %i.fa-key.fa
        %ul.sub-menu
          %li
            Loại kỳ
            %span.icon-thumbnail LK
          %li
            Role
            %span.icon-thumbnail LK
          %li
            Nhóm
            %span.icon-thumbnail N
          %li
            Trạng thái book
            %span.icon-thumbnail BS

  .clearfix