.sidebar-menu
  / BEGIN SIDEBAR MENU ITEMS
  %ul.menu-items
    %li.m-t-30
      %a{:href => ranking_path}
        %span.title Dashboard
      %span.bg-success.icon-thumbnail
        %i.fa-home.fa
      %li
        %a{:href => "javascript:;"}
          %span.title Manage Detail
          %span.arrow
        %span.icon-thumbnail
          %i.fa-key.fa
        %ul.sub-menu
          %li
            %a{:href => users_path}
              Create Users
            %span.icon-thumbnail 01
          %li
            %a{:href => teams_path}
              Create Teams
            %span.icon-thumbnail 02
          %li
            %a{:href => matches_path}
              Create Matches
            %span.icon-thumbnail 02

  .clearfix