.sidebar-menu
  / BEGIN SIDEBAR MENU ITEMS
  %ul.menu-items
    %li.m-t-30
      = link_to :ranking, class: 'detailed' do
        %span.title Dashboard
      %span.bg-success.icon-thumbnail
        %i.pg-home
      %li
        %a{:href => "javascript:;"}
          %span.title Manage Detail
          %span.arrow
        %span.icon-thumbnail
          %i.fa-key.fa
        %ul.sub-menu
          %li
            = link_to :users, class: 'users' do
              Create Users
            %span.icon-thumbnail 01
          %li
            = link_to :teams, class: 'teams' do
              Create Teams
            %span.icon-thumbnail 02
          %li
            = link_to :matches, class: 'matches' do
              Create Matches
            %span.icon-thumbnail 02

  .clearfix